$ht-background-color: rgba(220, 220, 220, 0.9);
$ht-text-color: #222222;
$ht-font-size: 14px;
$ht-pointer-width: 5px;
$ht-pointer-length: 10px;
$ht-fixed-padding: 5px;
$ht-pointer-adjustment: 30px;
$ht-border-radius: 4px;

@import 'styles';
